zig-cache/
.zig-cache/
zig-out/
.DS_Store
.vscode/

# Testing Files - Don't violate copyright
dsr/

# Reference
SoulsFormats/
SoulsTemplates/
soulstruct/

# Dantelion
*.dcx
*.msb
*.acb
*.bhd
*.bnd
*.btab
*.btl
*.btpb
*.bdt
*.ccm
*.clm
*.drb
*.edd
*.edge
*.eld
*.evd
*.esd
*.entryfilelist
*.flver2tri
*.ffx
*.flv
*.flver
*.expb
*.fmg
*.fltparam
*.fxr
*.gparam
*.grass
*.luagnl
*.luainfo
*.mcg
*.mcp
*.mtd
*.ngp
*.nva
*.nvm
*.def
*.tdf
*.pmdcl
*.rmb
*.tae
*.tpf